<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.github.fedecalendino.alfred-currency-converter</string>
	<key>category</key>
	<string>Productivity</string>
	<key>connections</key>
	<dict>
		<key>A0A856C3-BD77-4997-9BDB-6224830CA5F6</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E7297BE8-FCA7-4611-88C0-2DB88C427794</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Fede Calendino</string>
	<key>description</key>
	<string>Convert between multiple fiat and crypto currencies 💱️</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Currency Converter</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>E7297BE8-FCA7-4611-88C0-2DB88C427794</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<false/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>{var:keyword}</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<false/>
				<key>queuedelaymode</key>
				<integer>1</integer>
				<key>queuemode</key>
				<integer>2</integer>
				<key>runningsubtext</key>
				<string>Fetching exchanges...</string>
				<key>script</key>
				<string>/usr/bin/python3 ./dist/main.py $@</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>for example: $420 czk</string>
				<key>title</key>
				<string>Input currency and amont to convert</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>A0A856C3-BD77-4997-9BDB-6224830CA5F6</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>Convert between multiple fiat and crypto currencies 💱️


--


CRYPTO

The valid ids are on coingecko's urls: https://www.coingecko.com/en/coins/{id}


For example:

  * ADA: https://www.coingecko.com/en/coins/cardano
  * ATOM: https://www.coingecko.com/en/coins/cosmos
  * JUNO: https://www.coingecko.com/en/coins/juno-network


FIAT

The valid 3-letter fiat currency codes can be found here: https://www.iban.com/currency-codes</string>
	<key>uidata</key>
	<dict>
		<key>A0A856C3-BD77-4997-9BDB-6224830CA5F6</key>
		<dict>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>15</real>
		</dict>
		<key>E7297BE8-FCA7-4611-88C0-2DB88C427794</key>
		<dict>
			<key>xpos</key>
			<real>280</real>
			<key>ypos</key>
			<real>15</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>$</string>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<false/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string>Keyword to convert between multiple fiat and crypto currencies.</string>
			<key>label</key>
			<string>Currency Converter Keyword</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>keyword</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string></string>
				<key>required</key>
				<true/>
				<key>trim</key>
				<true/>
				<key>verticalsize</key>
				<integer>6</integer>
			</dict>
			<key>description</key>
			<string>List of coingecko identifiers for coins (one per line).</string>
			<key>label</key>
			<string>CRYPTO</string>
			<key>type</key>
			<string>textarea</string>
			<key>variable</key>
			<string>CRYPTO</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string></string>
				<key>required</key>
				<true/>
				<key>trim</key>
				<true/>
				<key>verticalsize</key>
				<integer>6</integer>
			</dict>
			<key>description</key>
			<string>List of fiat currency codes.</string>
			<key>label</key>
			<string>FIAT</string>
			<key>type</key>
			<string>textarea</string>
			<key>variable</key>
			<string>FIAT</string>
		</dict>
	</array>
	<key>version</key>
	<string>2.7.5</string>
	<key>webaddress</key>
	<string>https://github.com/fedecalendino/alfred-currency-converter</string>
</dict>
</plist>
