<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.github.fedecalendino.alfred-currency-converter</string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict>
		<key>83356B03-74A9-4E7B-966B-6C42A04EC032</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>3934B245-E510-48B5-A592-5027A675D443</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Fede Calendino</string>
	<key>description</key>
	<string>Convert between multiple currencies 💱️</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Currency Converter</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<false/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>$</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>1</integer>
				<key>queuemode</key>
				<integer>2</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>python ./main.py $@</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>for example: $420 czk</string>
				<key>title</key>
				<string>Input currency and amont to convert</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>83356B03-74A9-4E7B-966B-6C42A04EC032</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>3934B245-E510-48B5-A592-5027A675D443</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>Convert between multiple currencies 💱️</string>
	<key>uidata</key>
	<dict>
		<key>3934B245-E510-48B5-A592-5027A675D443</key>
		<dict>
			<key>xpos</key>
			<integer>295</integer>
			<key>ypos</key>
			<integer>25</integer>
		</dict>
		<key>83356B03-74A9-4E7B-966B-6C42A04EC032</key>
		<dict>
			<key>xpos</key>
			<integer>45</integer>
			<key>ypos</key>
			<integer>25</integer>
		</dict>
	</dict>
	<key>variables</key>
	<dict>
		<key>COINMARKETCAP_APIKEY</key>
		<string>c88799bb-e01a-4663-8612-1e8d8eedeb6c</string>
		<key>CRYPTO</key>
		<string>ADA, CRO, ETH</string>
		<key>FIAT</key>
		<string>CZK, EUR, GBP, USD</string>
	</dict>
	<key>variablesdontexport</key>
	<array>
		<string>COINMARKETCAP_APIKEY</string>
	</array>
	<key>version</key>
	<string>1.2</string>
	<key>webaddress</key>
	<string>https://github.com/fedecalendino/alfred-currency-converter</string>
</dict>
</plist>
